<h1><%= "#{@book.title} [#{@book.year}]" %></h1><br>
<h4><%= @book.author.name %></h4><br>
<p><b><%= @book.category.name %></b></p><br>
<p><%= @book.description %></p><br>


<ul>
<%= @book.reviews.each do |review| %>
<li><div class="review_div">
  <b><%= review.rating %></b><br>
  <%= review.body %>
</div><li>
<% end %>

<li><%= simple_form_for [@book, @review] do |f| %>
      <%= f.input :rating %>
      <%= f.input :body %>
      <%= f.submit "Submit" %>
    <% end %>
</li>
</ul>
